@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-black: #000;
  --color-white: #fff;
  --color-light: #efefef;
  --color-gray: #b0b0b0;
  --color-secondary: #595959;
  --color-primary: #1a1a1a;
}
