@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-black: #000;
  --color-white: #fff;
  --color-base-100: #ffffff;
  --color-base-200: #efefef;
  --color-base-300: #e7e7e7;
  --color-gray: #b0b0b0;
  --color-secondary: #595959;
  --color-primary: #1a1a1a;

  --aspect-card: 4/3;
}
