---
import { Icon } from "astro-icon/components";
import SectionWrapper from "@components/sections/SectionWrapper.astro";
import Button from "@components/ui/Button.astro";
---

<section class="bg-base-100">
  <SectionWrapper tagName="div">
    <div
      class="grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-2 items-center h-full gap-8 lg:gap-12 text-center lg:text-left"
    >
      <header class="self-end">
        <h1 class="text-5xl md:text-7xl text-secondary mb-2 lg:mb-6">
          Emilio Angulo
        </h1>
        <h2 class="text-2xl md:text-5xl *:block">
          <span>Desarrollador de Software</span>
          <span class="font-bold text-primary">Full-Stack Junior</span>
        </h2>
      </header>

      <div class="self-start">
        <p class="md:text-lg mb-6 *:[span]:text-primary *:[span]:font-bold">
          Me apasiona entender la maquinaria detrás de cada servicio para
          construir <span>arquitecturas sólidas</span> y soluciones precisas. Enfocado
          en el <span>alto rendimiento</span> y la <span>escalabilidad</span> desde
          la primera línea de código.
        </p>
        <Button href="/contacto" variant="primary" size="lg">CONTÁCTAME</Button>
      </div>
      <div
        class="flex justify-center items-center lg:row-span-2 lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-3"
      >
        <Icon
          name="hero-guy"
          class="-rotate-3 w-full h-auto max-w-xl lg:max-w-2xl lg:drop-shadow-2xl"
        />
      </div>
    </div>
  </SectionWrapper>
</section>
