---
import ProjectCard from "@components/projects/ProjectCard.astro";
import SectionWrapper from "@components/sections/SectionWrapper.astro";

const projects = [
  {
    title: "Multi-Auth",
    tags: ["C#", ".NET"],
    href: "/proyectos/multi-auth",
  },
  {
    title: "E-Commerce Monolito",
    tags: ["C#", ".NET", "SQL Server"],
    href: "/proyectos/e-commerce-monolito",
  },
  {
    title: "Gestor de Facturas",
    tags: ["C#", ".NET", "SQL Server"],
    href: "/proyectos/gestor-de-facturas",
  },
];
---

<section class="bg-base-200 scroll-mt-header" id="proyectos">
  <SectionWrapper
    tagName="div"
    class="md:h-content flex justify-center items-center"
  >
    <div class="flex-1">
      <header>
        <h2
          class="text-3xl md:text-5xl font-bold text-center text-gray-800 mb-16"
        >
          Proyectos Destacados
        </h2>
      </header>

      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          projects.map((project) => (
            <li>
              <ProjectCard
                title={project.title}
                tags={project.tags}
                href={project.href}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </SectionWrapper>
</section>
