---
import SectionWrapper from "@components/sections/SectionWrapper.astro";
import Button from "@components/ui/Button.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contacto">
  <SectionWrapper class="grid grid-cols-[1fr_1fr] gap-6 items-center mt-24">
    <div>
      <h1 class="text-5xl font-bold mb-8">Contacto</h1>
      <p class="text-lg mb-4">
        Estoy buscando activamente mi primera oportunidad laboral como
        desarrollador y tengo <strong
          >disponibilidad inmediata para reubicación en cualquier lugar.</strong
        >
      </p>
      <div>
        <Icon name="mail" class="w-full h-auto" />
      </div>
    </div>
    <form action="" class="flex flex-col">
      <label for="name" class="text-xl mb-2">Nombre</label>
      <input
        type="text"
        name="name"
        id="name"
        required
        class="border rounded-md p-2 mb-6"
      />
      <label for="email" class="text-xl mb-2">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        required
        class="border rounded-md p-2 mb-6"
      />
      <label for="message" class="text-xl mb-2">Mensaje</label>
      <textarea
        name="message"
        id="message"
        rows="4"
        required
        class="border rounded-md p-2 mb-6"></textarea>
      <div>
        <Button type="submit" variant="primary">Enviar</Button>
      </div>
    </form>
  </SectionWrapper>
</Layout>
