---
import Emian from "../assets/emian.svg";
import GitHub from "../assets/github.svg";
import LinkedIn from "../assets/linkedin.svg";
import SectionWrapper from "./SectionWrapper.astro";
---

<footer class="relative bg-light h-96 z-10">
  <SectionWrapper
    tagName="div"
    class="h-full flex flex-col items-center justify-between pb-12"
  >
    <Emian class="fill-secondary h-16" />
    <ul
      class="flex items-center justify-center gap-6 *:hover:scale-105 *:transition-transform flex-1"
    >
      <li>
        <a href="https://github.com/EmilioAngu2003" target="_blank"
          ><GitHub class="stroke-secondary size-8" /></a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/emilio-angulo/" target="_blank"
          ><LinkedIn class="fill-secondary size-8" /></a
        >
      </li>
    </ul>
    <nav class="flex-3 flex items-center justify-center">
      <ul
        class="flex gap-8 text-lg *:hover:underline *:hover:underline-offset-2"
      >
        <li><a href="/">Inicio</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
        <li><a href="/experiencia">Experiencia</a></li>
        <li><a href="/sobre-mi">Sobre mi</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
  </SectionWrapper>
  <div
    class="absolute bottom-0 bg-secondary w-full h-12 text-white flex justify-center items-center"
  >
    <p>© 2025 Emilio Octavio Angulo Ordoñez</p>
  </div>
</footer>
