---
import HeroGuy from "../assets/hero-guy.svg";
---

<section class="w-full max-w-7xl mx-auto">
  <div
    class="grid grid-cols-1 lg:grid-cols-2 items-center min-h-[calc(100vh-80px)] relative gap-12"
  >
    <div class="flex flex-col items-start gap-6 z-10">
      <h1 class="text-7xl xl:text-8xl text-secondary leading-tight">
        Emilio Angulo
      </h1>
      <h2 class="text-4xl xl:text-5xl">
        Desarrollador de Software <span class="font-bold"
          >Full-Stack Junior</span
        >
      </h2>
      <p class="max-w-xl text-lg">
        Soy <span class="font-bold">Ingenioso, Preciso y Comprometido</span> con el
        objetivo de iniciar mi carrera profesional, aportando valor en la creación
        de software útil y escalable. [cite: 8]
      </p>
      <a
        href="/contacto"
        class="bg-primary rounded-lg text-xl text-white font-bold px-8 py-4 hover:scale-105 transition-transform"
      >
        CONTÁCTAME
      </a>
    </div>

    <div class="relative flex justify-center items-center">
      <HeroGuy class="-rotate-3 w-full h-auto max-w-2xl drop-shadow-2xl" />
    </div>
  </div>
</section>
