---
import ProjectCard from "../components/ProjectCard.astro";
import SectionWrapper from "./SectionWrapper.astro";

const projects = [
  {
    title: "Multi-Auth Project",
    tags: ["C#", ".NET"],
  },
  {
    title: "E-Commerce Monolito",
    tags: ["C#", ".NET", "SQL Server"],
  },
  {
    title: "Gestor de Facturas",
    tags: ["C#", ".NET", "SQL Server"],
  },
];
---

<section class="bg-light py-20">
  <SectionWrapper tagName="div">
    <header>
      <h2 class="text-5xl font-bold text-center text-gray-800 mb-16">
        Proyectos Destacados
      </h2>
    </header>

    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        projects.map((project) => (
          <li>
            <ProjectCard
              title={project.title}
              tags={project.tags}
            />
          </li>
        ))
      }
    </ul>
  </SectionWrapper>
</section>
