---
import SectionWrapper from "@components/sections/SectionWrapper.astro";
import { Icon } from "astro-icon/components";
---

<footer class="relative bg-base-200 h-96 z-10">
  <SectionWrapper
    tagName="div"
    class="h-full flex flex-col items-center justify-between pb-12"
  >
    <Icon name="emian" class="text-secondary h-16 w-auto" />
    <ul
      class="flex items-center justify-center gap-6 *:hover:scale-105 *:transition-transform flex-1"
    >
      <li>
        <a
          href="https://github.com/EmilioAngu2003"
          target="_blank"
          aria-label="GitHub"
          ><Icon name="github" class="text-secondary size-8" /></a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/emilio-angulo/"
          target="_blank"
          aria-label="LinkedIn"
          ><Icon name="linkedin" class="text-secondary size-8" /></a
        >
      </li>
    </ul>
    <nav class="flex-3 flex items-center justify-center">
      <ul
        class="flex gap-8 text-lg *:hover:underline *:hover:underline-offset-2"
      >
        <li><a href="/">Inicio</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
        <li><a href="/experiencia">Experiencia</a></li>
        <li><a href="/sobre-mi">Sobre mi</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
  </SectionWrapper>
  <div
    class="absolute bottom-0 bg-secondary w-full h-12 text-white flex justify-center items-center"
  >
    <p>© 2025 Emilio Octavio Angulo Ordoñez</p>
  </div>
</footer>
