---
import { Icon } from "astro-icon/components";
import LanguageSelector from "@components/ui/LanguageSelector.astro";
import ThemeToggle from "@components/ui/ThemeToggle.astro";
import SectionWrapper from "@components/sections/SectionWrapper.astro";
import Button from "@components/ui/Button.astro";
---

<header
  id="main-header"
  data-expanded="true"
  class="sticky top-0 z-20 h-header w-full bg-base-100 text-secondary transition-transform duration-300 data-[expanded=false]:-translate-y-full"
>
  <SectionWrapper
    tagName="div"
    class="h-full flex justify-between items-center gap-4 bg-base-100"
  >
    <a href="/">
      <Icon name="emian" class="h-6 w-auto" />
    </a>
    <nav
      class="hidden lg:block absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    >
      <ul
        class="flex gap-6 text-lg *:hover:underline *:hover:underline-offset-2 *:hover:text-primary"
      >
        <li><a href="/">Inicio</a></li>
        <li><a href="/#proyectos">Proyectos</a></li>
        <li><a href="/experiencia">Experiencia</a></li>
        <li><a href="/sobre-mi">Sobre mi</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>

    <div class="flex gap-4 items-center justify-end flex-1">
      <ThemeToggle />
      <LanguageSelector />
      <Button variant="secondary" class="hidden md:block">Descargar CV</Button>
    </div>

    <div class="relative h-full flex lg:hidden items-center">
      <button
        id="menu-toggle"
        aria-haspopup="true"
        aria-controls="mobile-menu"
        aria-expanded="false"
        class="p-2 rounded focus:ring-2 focus:ring-secondary"
      >
        <Icon name="menu" class="size-6" />
      </button>

      <SectionWrapper
        tagName="nav"
        id="mobile-menu"
        role="listbox"
        data-expanded="false"
        class="absolute top-menu -right-4 md:top-20 md:right-0 w-screen md:w-48 bg-base-200 rounded-b -z-10 transition-transform duration-300 data-[expanded=false]:-translate-y-full data-[expanded=true]:shadow-lg"
      >
        <ul class="flex flex-col gap-6">
          <li><a href="/">Inicio</a></li>
          <li><a href="/#proyectos" class="anchor">Proyectos</a></li>
          <li><a href="/experiencia">Experiencia</a></li>
          <li><a href="/sobre-mi">Sobre mi</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li class="md:hidden text-end">
            <Button variant="secondary">Descargar CV</Button>
          </li>
        </ul>
      </SectionWrapper>
    </div>
  </SectionWrapper>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("menu-toggle");
    const menu = document.getElementById("mobile-menu");
    const header = document.getElementById("main-header");
    const anchors = document.querySelectorAll(".anchor");

    const isMobile = window.innerWidth < 1024;

    let lastScrollY = window.scrollY;
    let isScrollingToAnchor = false;

    const updateMenuState = (isOpen: boolean) => {
      menu?.setAttribute("data-expanded", String(isOpen));
      button?.setAttribute("aria-expanded", String(isOpen));
    };

    const setHeaderVisible = (isVisible: boolean) => {
      if (!isVisible) updateMenuState(false);
      header?.setAttribute("data-expanded", String(isVisible));
    };

    const handleScroll = () => {
      if (!isMobile || isScrollingToAnchor) return;

      const currentScrollY = window.scrollY;
      const isScrollingDown =
        currentScrollY > lastScrollY && currentScrollY > 50;

      setHeaderVisible(!isScrollingDown);
      lastScrollY = currentScrollY;
    };

    button?.addEventListener("click", () => {
      const isExpanded = menu?.dataset.expanded === "true";
      updateMenuState(!isExpanded);
    });

    document.addEventListener("click", (e) => {
      if (
        !button?.contains(e.target as Node) &&
        !menu?.contains(e.target as Node)
      ) {
        updateMenuState(false);
      }
    });

    anchors.forEach((anchor) => {
      anchor.addEventListener("click", () => {
        if (!isMobile) return;
        isScrollingToAnchor = true;
        setHeaderVisible(false);
      });
    });

    window.addEventListener("scroll", handleScroll, { passive: true });
    window.addEventListener("scrollend", () => (isScrollingToAnchor = false));
  });
</script>
