---
import Footer from "@components/common/Footer.astro";
import Header from "@components/common/Header.astro";
import "@styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Mi portafolio profesional" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-secondary">
    <Header />
    <main class="grow bg-base-100">
      <slot />
    </main>
    <Footer />
  </body>
</html>
