---

---

<select
  name="lang"
  id="lang"
  class="relative text-xl cursor-pointer hover:underline underline-offset-2"
  aria-label="Seleccionar idioma"
>
  <option value="es">ES</option>
  <option value="en">EN</option>
</select>
